
:root {
    --grid-cols: 1;
}

body {
    box-sizing: border-box;
    display: grid;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 1fr;
    width: 100vw;
    background-color: #f0f0f0;
    grid-template-rows: auto 1fr;
    margin: 0;
}

#header {
    display: grid;
    border: 1px solid black;
    width: 1fr;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
}

main {
    display: grid;
    height: 95vh;
    width: 1fr;
    justify-content: center;
    align-content: center;
}

#container {
    display: grid;
    border: 1px solid black;
    width: 650px;
    height: 650px;
} 


.col {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.row {
    background: white;
}