
:root {
    --grid-cols: 1;
}

* {
    box-sizing: border-box;
}

body {

    height: 100%;
    width: 100%;
    min-width: 1000px;
    min-height: 1000px;
    background-color: beige;
    margin: 0;
    padding: 0;
    border: 0;
}

#header {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    color: rebeccapurple;

}

main {
    display: grid;
    height: 96vh;
    width: 1fr;
    justify-content: center;
    align-content: center;
    gap: 3em;
}

#panel {
    display: flex;
    justify-content: space-between;
}

.buttons {
    background-color: antiquewhite;
}

#container {
    display: grid;
    border: 50px solid rgba(184, 43, 43, 0.781);
    border-radius: 10px;
    width: 750px;
    height: 750px;
} 


.col {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.row {
    background: #2e081c25;
}